@use "../base/variables" as *;

.card {
  background-color: #fff;
  padding: $space-md;
  border-radius: $radius-lg;
  display: grid;
  gap: $space-lg;
  max-width: 46rem;
  margin: auto;
}

@media screen and (min-width: $viewportTablet) {
  .card {
    padding: $space-xl;
  }
}