@use "../base/variables" as *;

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $space-md $space;
  align-items: start;

  &__column {
    grid-column: 1 / -1;
  }

  &--gap-md {
    gap: $space-md;
  }
}

@media screen and (min-width: $viewportTablet) {
  .grid {
    &__column {
      &--half {
        grid-column: span 1;
      }
    }
  }
}