$grey-900: #2A4144;
$grey-500: #86A2A5;
$green-600: #0C7D69;
$green-200: #E0F1E8;
$red: #D73C3C;

$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space: 1rem;
$space-md: 1.5rem;
$space-lg: 2rem;
$space-xl: 2.5rem;
$space-2xl: 8rem;

$radius: 0.5rem;
$radius-lg: 1rem;

$viewportTablet: 48em;
$viewportDesktop: 80em;